
.multi-bg {
    background: -webkit-linear-gradient(315deg, hsl(0deg 0% 81.25% / 13%) 5%, hsl(341.18deg 23.83% 64.01% / 45%) 43%, hsl(254deg 17.68% 78.18% / 44%) 94%);
    background: linear-gradient(315deg, hsl(0deg 0% 81.25% / 13%) 5%, hsl(341.18deg 23.83% 64.01% / 45%) 43%, hsl(254deg 17.68% 78.18% / 44%) 94%);
    background: -moz-linear-gradient(315deg, hsl(0deg 0% 81.25% / 13%) 5%, hsl(341.18deg 23.83% 64.01% / 45%) 43%, hsl(254deg 17.68% 78.18% / 44%) 94%);
}

.pk-form .form-label {
    margin-bottom: 0.5rem;
    color: #717171;
    text-transform: uppercase;
    font-size: 12px;
}